h1  a, h2 a {
    color: #BE5563;
    font-family: Lato, Charcoal, sans-serif;
}

body{
    margin-top: 8rem;
    font-family: Lato, Charcoal, sans-serif;
}

.site-header {
    color: #ffffff;
    font-weight: 400;
    font-family: Lato, Charcoal, sans-serif;
}

.bg-steel {
    /* background-color: rgb(161, 245, 140); */
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    /*color: #BE5563;*/
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}

.navbar {
    min-height: 80px;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
}

.content {
    margin-left: 40px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #f5f5f5;
}

h1, h2, h3, h4 {
    font-family: Impact, Charcoal, sans-serif;
}

.date {
    color: #828282;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    font-weight: 700; 
    margin-right: 20px;
    text-decoration: none;
}

.post {
    margin-bottom: 16px;
}

.comment {
    margin: 20px 0px 20px 20px;
}

.post h2 a, .post h2 a:visited {
    color: #BE5563;
}

.navbar-dark .navbar-brand{
    color: #ffffff;
}

.navbar-dark .navbar-nav .nav-link{
    color: #828282;
    font-weight: 700;
    font-size: 20px;
}

.site-title{
    color: #ed2a24;
}

.product-header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.price {
    font-size: 20px;
}