h1  a, h2 a {
    color: rgb(37, 84, 116);
    font-family: 'Lobster';
}

body{
    margin-top: 5rem;
}

.site-header {
    color: white;
}

.bg-steel {
    background-color: rgb(37, 84, 116);
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}

.content {
    margin-left: 40px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #f5f5f5;
}

h1, h2, h3, h4 {
    font-family: 'Lobster', cursive;
}

.date {
    color: #828282;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
    text-decoration: none;
}

.post {
    margin-bottom: 70px;
}

.comment {
    margin: 20px 0px 20px 20px;
}

.post h2 a, .post h2 a:visited {
    color: #000000;
}